@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Registro.Models.Persona;

<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <h1 class="fw-bold mb-0 fs-2">Registro Personal</h1>
                <br />
                <a asp-controller="Registro" asp-action="ListaPersonas" class="btn-close"></a>
            </div>

            <div class="modal-body p-5 pt-0">
                <form asp-controller="Registro" asp-action="Nuevo" method="post" class="">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" asp-for="Nombre" id="floatingInput" placeholder="Nombre">
                        <label for="floatingInput">Nombre</label>
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control rounded-3" asp-for="Edad" placeholder="Edad" oninput="this.value = this.value.replace(/[^0-9]/g,'')">
                        <label for="floatingInput">Edad</label>
                        <span asp-validation-for="Edad"  class="text-danger" ></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-3" asp-for="Correo" placeholder="Genero">
                        <label for="floatingInput">Correo</label>
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                   
                    <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>